{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}

<table class="table" id="datos" style="display: none">
    
    {% for p in estudiantes_list.all %}
    <tr>
        
        
        <td id="ingles">{{p.ingles}}</td>
        <td id="lecto">{{p.lecturacritica}}</td>
        <td id="razo">{{p.razonamiento}}</td>
        <td id="comp">{{p.competencias}}</td>
        
    </tr>
    <tr>
        
        
        <td id="inglest">{{p.inglest}}</td>
        <td id="lectot">{{p.lecturacriticat}}</td>
        <td id="razot">{{p.razonamientot}}</td>
        <td id="compt">{{p.competenciast}}</td>
        <td id="escritot">{{p.escritot}}</td>
        <td id="form">{{p.formulaciont}}</td>
        <td id="pen">{{p.cientificot}}</td>
        <td id="dis">{{p.diseñot}}</td>
        
    </tr>
    <tr>
        
        
        <td id="inglesq">{{p.inglesq}}</td>
        <td id="lectoq">{{p.lecturacriticaq}}</td>
        <td id="razoq">{{p.razonamientoq}}</td>
        <td id="compq">{{p.competenciasq}}</td>
        <td id="escritoq">{{p.escritoq}}</td>
        <td id="form">{{p.formulacionq}}</td>
        <td id="pen">{{p.cientificoq}}</td>
        <td id="dis">{{p.diseñoq}}</td>
        
    </tr>
    <tr>
        
        
        <td id="inglese">{{p.inglese}}</td>
        <td id="lectoe">{{p.lecturacriticae}}</td>
        <td id="razoe">{{p.razonamientoe}}</td>
        <td id="compe">{{p.competenciase}}</td>
        <td id="escritoe">{{p.escritoe}}</td>
        <td id="form">{{p.formulacione}}</td>
        <td id="pen">{{p.cientificoe}}</td>
        <td id="dis">{{p.diseñoe}}</td>
        
    </tr>
    <tr>
        
        
        <td id="inglesp">{{p.inglesp}}</td>
        <td id="lectop">{{p.lecturacriticap}}</td>
        <td id="razop">{{p.razonamientop}}</td>
        <td id="compp">{{p.competenciasp}}</td>
        <td id="escritop">{{p.escritop}}</td>
        <td id="form">{{p.formulacionp}}</td>
        <td id="pen">{{p.cientificop}}</td>
        <td id="dis">{{p.diseñop}}</td>
        
    </tr>
    {% endfor%}
    
</table>

{% for p in estudiantes_list %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="blue">
                <i class="material-icons">timeline</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Grafica del progreso del estudiante {{p.identificacion}} de <strong>SABER 11</strong> hasta <strong>SABER PRO</strong>
                    <small> - Rounded</small>
                </h4>
            </div>
            <div id="colouredBarsChart" class="ct-chart"></div>
            
            <div class="card-footer">
                <h6>Pruebas que se visualizan en la grafica:</h6>
                <i class="fa fa-circle text-info"></i> Saber 11
                <i class="fa fa-circle text-danger"></i> Tercer semestre
                <i class="fa fa-circle text-warning"></i> Quinto semestre
                <i class="fa fa-circle text-primary"></i> Septimo semestre
                <i class="fa fa-circle text-success"></i> Saber Pro
            </div>
        </div>
    </div>
</div>


{% endfor%}

{% endblock content%}